body {
    background-image: url('https://www.pngitem.com/pimgs/m/338-3382087_facebook-creative-logo-of-facebook-hd-png-download.png');
    background-size: cover;
    /*overflow: scroll;*/
  }
  
h1,h2,h3,h4,h5,h6{
    color: black;
    font-size: 2em;
    text-align: center;
}

h1{
    font-size: 4em;
}

h4, a {
    color: black;
    font-size: 2em;
}
     
 #likeLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:right;

 }

/* .devMissionLogo{
    height: 80px; 
    width: 90px;
    bottom: 10px;
 }*/
